#sz
    font-family '微软雅黑'
    position relative
    top 10px
    list-style none
    #sz-list
        width 700px
        li
            display inline-block
            margin 2px 2px
            transition .5s
            .btn
                display inline-block
                -moz-user-select none/*火狐*/
                -webkit-user-select none/*webkit浏览器*/
                -ms-user-select none/*IE10*/
                user-select none
                background-color #b37
                border-radius 8px
                color #fff
                padding 8px 15px
                font-size 16px
                cursor pointer
                transition .5s
                &:hover
                    background-color #c86
            .diy-item
                display inline-block
                vertical-align top
                text-align center
                height 37px
                width 180px
                border 1px solid #b37
                //margin 0
                border-radius: 8px
                overflow hidden
                &:hover
                    border 1px solid #c86
                .diy-bg
                    -moz-user-select none/*火狐*/
                    -webkit-user-select none/*webkit浏览器*/
                    -ms-user-select none/*IE10*/
                    user-select none
                    background-color #b37
                    color #fff
                    height 37px
                    line-height 37px
                    text-align center
                    display inline-block
                    vertical-align top
            .diy-item-2
                width 290px
            .w150
                width 150px
            .w100
                width 100px
            .w50
                width 50px
            .w30
                width 30px
            .w20
                width 20px
            .sz-diy-ipt
                display inline-block
                height 36px
                border 0px
                outline none
                padding 0px 10px
                font-size 14px
                font-family '微软雅黑'
                vertical-align top
                text-align center
            .sz-diy-btn
                width 98px
                height 36px
                border-radius 0px
    .clv-0
        color:green
    .clv-1
        color #ccc
    .clv-2
        color #27f
    .clv-3
        color #d21094
    .clv-4
        color orange
    #sz-clear
        font-size 12px
        display inline-block
        color red
        cursor pointer
        text-decoration underline
        &:hover
            color grey
    #sz-math
        cursor pointer
    #sz-result-list
        list-style none
        .tips
            color red
            display block
        li
            font-size 14px
            color #666
            transition .5s
            &:last-child
                margin-top 10px
                color #111
                font-size 24px
                span
                    font-size 36px
