#porbar
#poabar
    ul.poabar-list
        li#online-status.cha-bg
            p 离线
        li#online-num
            p 0
        li#login-pbar.login-pbar.b99-bg(status='0')
            p 登陆
        li
            p qq群:32706313
