*
    box-sizing border-box
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    font-family '微软雅黑'
body
    min-width 650px
.panel
    background-color #efefef
    padding 10px 15px
    border-radius 8px
    box-shadow 2px 2px 2px #999
    margin 30px 20px
    overflow hidden
    transition .8s
//力量
.str
    color #b31010
.con
    color #ea732c
.dex
    color #2d8e1c
.wis
    color #06bdbd
.int
    color #1e6eef
.cha
    color #c30da4
.str-bg
    background-color #b31010
.con-bg
    background-color #ea732c
.dex-bg
    background-color #2d8e1c
.wis-bg
    background-color #06bdbd
.int-bg
    background-color #1e6eef
.cha-bg
    background-color #c30da4
.b99-bg
    background-color #999999
