h2 基本属性
h4.str 力量(Str)
    span #b31010
.intro
    p 力量影响较大的职业：
        span.str 战士 野蛮人 圣武士 巡林客 武僧
h4.con 体质(Con)
    span #ea732c
.intro
    p 体质对所有职业都很重要
        //span.con 战士 野蛮人 圣武士 巡林客 武僧
h4.dex 敏捷(Dex)
    span #2d8e1c
.intro
    p 敏捷影响较大的职业：
        span.dex 游荡者非常重要。此外，经常穿着轻型或中型盔甲（野蛮人、巡林客）、经常未着防具（武僧、法师、术士）、
h4.wis 感知(Wis)
    span #06bdbd
.intro
    p 感知影响较大的职业：
        span.wis 感知是牧师和德鲁伊最重要的属性，对圣武士和巡林客也很重要。
h4.int 智力(Int)
    span #1e6eef
.intro
    p 智力影响较大的职业：
        span.int 本属性对法师非常重要，同时对想拥有多门技能的人重要
h4.cha 魅力(Cha)
    span #c30da4
.intro
    p 魅力影响较大的职业：
        span.cha 魅力是圣武士、术士与吟游诗人最重要的属性。此外，魅力影响驱散不死生物的能力，对牧师也很重要。
h2 职业
.jobs
    p 野蛮人：使用愤怒与直觉击倒对手的勇猛战斗者。
    p 吟游诗人：以音乐产生魔法效果的艺术家，也是四处讲述乡野传奇的流浪人，几乎什么技巧都会一些。
    p 牧师：可施展圣法术的神职人员，也是不错的战斗者。
    p 德鲁伊：从大自然中获取能量，可施展圣法术和独特的魔法力量。
    p 战士：战斗能力胜过常人，且擅长各式武器的职业。
    p 武僧：空手格斗的专家，拥有迅速且强大的特殊能力。
    p 圣武士：正义的护卫和邪恶的克星，受神圣力量庇护。
    p 游侠：灵巧而老练的野外战斗者。
    p 盗贼：技巧丰富的斥候或间谍，善于隐匿而非依靠蛮力。
    p 术士：天生即具有魔法能力的施法者。
    p 法师：研习各魔法学派的施法者。
